<div class="download">
  [[<span class="download">Download</span>
    <span class="tails">Tails [[!inline pages="inc/stable_i386_version" raw="yes"]]</span>
    <span class="date">[[!inline pages="inc/stable_i386_date" raw="yes"]]</span>|Download]]
</div>

<div class="links">
  <ul>
    <li>[[About|about]]</li>
    <li>[[Getting started…|getting started]]</li>
    <li>[[Documentation|doc]]</li>
    <li>[[Help &amp; Support|support]]</li>
    <li>[[Contribute]]</li>
  </ul>
</div>
