[[!meta title="Things to do"]]

<div id="intro">

<p>Tails tasks are managed in Redmine at [[!tails_redmine "" desc="labs.riseup.net"]].</p>

<p>Feel free to post your ideas for todo and wishlist items there.
If it seems more like a bug in the existing code, please [[report it as
a bug|support/found_a_problem]] instead.</p>

<p><strong>Notes:</strong></p>

<ul>
<li>The [[!tails_roadmap]] should help to understand our priorities.</li>
<li>Newcomers wanting to get involved should start with the
  [[how to contribute|contribute]] documentation.</li>
<li><a href="https://labs.riseup.net/code/projects/tails/issues?query_id=109">Tickets that are fixed</a> in the [[development Git branch|contribute/git]]
  will be solved in the next stable release.</li>
<li><a href="https://labs.riseup.net/code/projects/tails/issues?query_id=110">Closed tickets</a> have been solved in a shipped release, or otherwise closed.</li>
</ul>
