[[!meta date="2013-08-01 12:00:00"]]
[[!meta title="Call for testing: 0.20~rc1"]]

<p>You can help Tails! The first (and hopefully only) release candidate for the
upcoming version 0.20 is out. Please test it and see if all works for you.</p>

[[!toc levels=1]]

<h1>How to test Tails 0.20~rc1?</h1>

<ol>
  <li>
    <p>
      <strong>Keep in mind that this is a test image.</strong> We have made sure
      that it is not broken in an obvious way, but it might still contain
      undiscovered issues.
    </p>
  </li>
  <li>
    <p>Download the ISO image and its signature:</p>
    <p>
      <a class="download-file"
         href="http://dl.amnesia.boum.org/tails/testing/tails-i386-0.20-rc1/tails-i386-0.20~rc1.iso"
      >Tails 0.20~rc1 ISO image</a>
    </p>
    <p>
      <a class="download-signature"
         href="https://tails.boum.org/torrents/files/tails-i386-0.20-rc1.iso.sig
"
      >Tails 0.20~rc1 signature</a>
    </p>
  </li>
  <li>
    <p>
      [[Verify the ISO image|download#verify]].
    </p>
  </li>
  <li>
    <p>
      Have a look at the list of <a href="#known_issues">known issues
      of this release</a> and the list of [[longstanding known
      issues|support/known_issues]].
    </p>
  </li>
  <li>
    <p>
      Test wildly!
    </p>
  </li>
</ol>

<p>If you find anything that is not working as it should, please [[report to
us|doc/first_steps/bug_reporting]]! Bonus points if you check that it is not a
<a href="#known_issues">known issue of this release</a> or a
[[longstanding known issue|support/known_issues]].</p>

<h1>What's new since 0.19?</h1>

<ul>

<li>New features</li>
<ul>
	<li><p>Linux 3.10.3-1.</p></li>
</ul>

<li>Bugfixes</li>
<ul>
	<li><p>Prevent Iceweasel from displaying a warning when leaving HTTPS web sites.</p></li>
	<li><p>Make Iceweasel use the correct, localized search engine.</p></li>
	<li><p>Fix Git access to https:// repositories.</p></li>
</ul>

<li><p>Minor improvements</p></li>
<ul>
	<li><p>Install Dasher, a predictive text entry tool.</p></li>
	<li><p>Add a wrapper around TrueCrypt which displays a warning about it soon being deprecated in Tails.</p></li>
	<li><p>Remove Pidgin libraries for all protocols but IRC and Jabber/XMPP. Many of the other protocols Pidgin support are broken in Tails and haven't got any security auditting.</p></li>
	<li><p>Disable the pre-defined Pidgin accounts so they do not auto-connect on Pidgin start.</p></li>
	<li><p>Include information about Alsa in WhisperBack reports.</p></li>
	<li><p>Explicitly restrict access to ptrace. While this setting was enabled by default in Debian's Linux 3.9.6-1, it will later disabled in 3.9.7-1. It's unclear what will happen next, so let's explicitly enable it ourselves.</p></li>
	<li><p>Do not display dialog when a message is sent in Claws Mail.</p></li>
</ul>

<li><p>Localization</p></li>
<ul>
	<li><p>Many translation updates all over the place.</p></li>
	<li><p>Merge all Tails-related POT files into one, and make use of intltoolize for better integration with Transifex.</p></li>
</ul>

</ul>

<h1><a name="known_issues"></a>Known issues in 0.20~rc1</h1>

<ul>
<li>The ISO image and signature were mistakenly named with "~rc1" (notice the tilde) instead of "-rc1", like before.</li>
<li>The French translation is broken to the point that it prevents some applications from starting (like the emergency shutdown applet).</li>
</ul>

<p>All these issues are fixed in Git and will be fixed in Tails 0.20.</p>
