[[!meta title="Found a problem?"]]

<div id="page-found_a_problem">

<div id="intro">

<p>So you have a problem with <em>Tails</em>. Well, let's see how to get it fixed.</p>

<p>To begin with, make sure you are using the latest version, as
[[upgrading|doc/upgrade]] might solve your problem. If it does not,
please read on.</p>

<p>Check if the problem is already known. You can have a look at:</p>

<ul>
  <li>the <a href="/support/known_issues">list of known issues</a></li>
  <li>the <a href="/todo/">list of things to do</a></li>
  <li>the <a href="/todo/pending/">list of things that will be in the next release</a></li>
</ul>

</div> <!-- #intro-->

<div class="container">

<div id="bugs">

  <h1>Found a bug?</h1>

	If you've found a bug in Tails, please
	follow the [[bug reporting guidelines|doc/first_steps/bug_reporting]].

</div> <!-- #bugs -->

<div id="wishlist">

  <h1>Need a new feature?</h1>

  If you would like to see a new feature in <em>Tails</em>,
  [[!tails_website wishlist desc="tell us about it!"]]

</div> <!-- #wishlist -->

</div> <!-- .container -->

<div id="talk">

  <h1>Talk</h1>

  [[!inline pages="support/talk" raw="yes"]]

</div> <!-- #talk -->


</div> <!-- #found_a_problem -->
